<div class="container">
	<h1 class="event-title">Olá,</h1><h1>hi there.</h1>

	<p>Come, add your events here. This app will show and also recommend events in Lincoln based on your preferences </p>

	<p>One of the main idea for this app came out months ago, while I was an exchange student at UNL and wanted to take my girlfriend out. By that time and still knowing nothing about places and what to do Lincoln, I started searching for any website or something to tell me what is going on in the city and places to go.</p>

	<p>Thanks to my brazilian friends which never know where and what to do at night in Lincoln, I started developing an algorithm capable to suggest things to do based on people's preferences. The algorithm became my graduation project in Brazil. This is the second main focus on this app (sorry, but it is just available on the Android version of this app. An online recommendation and an IPhone version are coming soon).</p>

	<p>The 3rd goal is to go to grad school at UNL but, tuition for international students is pretty high :p</p>

	<p>If you wanna help me on this app, drink some coffee or talk about rock n roll, Im gonna be around until October. Send me an email (<a href="mailto:bvrsilva1@gmail.com">bvrsilva1@gmail.com</a>), facebook message, stop me in front Union hahah :D</p>

	<p>Thanks,</p>
	<p>Bruno</p>
</div>